@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.shirts-section1 {
    text-align: center;
    width: 100%;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Centra el contenedor de los botones */
    margin-top: 50px;
}

.Button-category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    scroll-behavior: smooth;
    width: 80%;
    height: 100%;
    gap: 20px;
    /* Reduce el espacio entre los elementos */
}

.category-item {
    text-align: center;
    cursor: pointer;
    flex: 0 0 80px;
    margin: 0 5px;
    padding: 20px;
    background-color: #e1fee1;
    border-radius: 10px;
    border: 1px solid #d0e6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease;
}

.category-item:hover {
    transform: translateY(-4px);
}

.category-item img {
    width: 100%;
    /* Ajusta el tamaño según sea necesario */
    height: auto;
    border-radius: 100%;
    /* Añade un poco de estilo */
}

.category-item p {
    font-family: "Kanit", sans-serif;
    /* letter-spacing: 1px; */
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: rgb(27, 27, 27);
    white-space: nowrap;
    /* Evita que el texto se corte */
    overflow: hidden;
    /* Oculta el desbordamiento del texto */
    text-overflow: ellipsis;
    /* Añade puntos suspensivos si el texto es demasiado largo */
}

.scroll-button {
    background: none;
    color: #bfbfbf;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
    /* Aumenta el tamaño de las flechas */
    border-radius: 50%;
    margin: 0 5px;
}

.scroll-button:hover {
    color: #065a5a;
}

@media (max-width: 600px) {
    .shirts-section1 {
        width: 100%;
        height: 100px;
        margin: 0;
        margin-top: 25px;
        justify-content: space-around;
    }

    .Button-category {
        gap: 10px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        /* Permite el desplazamiento táctil en móviles */
        -webkit-overflow-scrolling: touch;
        /* Suaviza el desplazamiento en iOS */
        scrollbar-width: none;
        /* Oculta la barra de desplazamiento en Firefox */
    }

    .Button-category::-webkit-scrollbar {
        display: none;
        /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
    }

    .category-item {
        width: 80px;
        /* Ancho de 80px */
        height: 60%;
        padding: 0;
        /* Alto de 80px */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .category-item img {
        width: 80%;
        /* Ajusta el tamaño según sea necesario */
    }

    .category-item p {
        font-size: 11px;
        white-space: nowrap;
        /* Evita que el texto se corte */
        overflow: hidden;
        /* Oculta el desbordamiento del texto */
        text-overflow: ellipsis;
        /* Añade puntos suspensivos si el texto es demasiado largo */
    }
}

@media (min-width: 601px) {
    .scroll-button {
        display: none;
        /* Oculta las flechas en escritorio */
    }

    .Button-category {
        overflow: visible;
        /* Muestra todos los elementos en escritorio */
    }
}








/* -------CSS REEMPLAZO------- */


/* .shirts-section1 {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.Button-category {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.Button-category a {
    text-decoration: none;
}

.Button-category button {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

.Button-category button:hover {
    background-color: #088178;
    color: #fff;
}

@media (max-width: 600px) {
    .shirts-section1 {
        width: 100%;
        height: 150px;
        margin: 0;
        justify-content: space-around;
    }

    .shirts-section1 h2 {
        margin: 0;
    }

    .Button-category {
        gap: 10px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .Button-category button {
        width: 150px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Ubuntu", sans-serif;

    }
} */