/* Checkout.css */

.Checkout {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    background-color: #e3fbe3;
}

.banner-Checkout {
    width: 100%;
    background-image: url("../icons/addtocart.png");
}

.Checkout-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 80%;
    height: 400px;
    align-items: center;
    gap: 30px;
}

.Checkout-selection button {
    background-color: white;
    border: none;
    color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border: 3px solid #4CAF50;
    border-radius: 25px;
    transition: background-color 0.4s ease;
    height: 46%;
    width: 30%;
    font-weight: bold;
}

.Checkout-selection button:hover {
    background-color: #44c448;
    color: white;
}

.Checkout-info {
    width: 90%;
    /* height: 600px; */
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    padding-top: 50px;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 100px;
    left: 20px;
    background-color: #e1ffe1;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.back-button:hover {
    color: #07850d;
    transform: scale(1.1);
}

.Checkout-products {
    width: 35%;
    max-height: 620px;
    padding: 15px;
    background-color: #44c448;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* box-shadow: -4px 8px 5px rgba(0, 0, 0, 0.1); */
}

.Checkout-list {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
}

.Checkout-title {
    width: 100%;
}

.Checkout-title h2 {
    font-size: 19px;
    /* font-weight: 600; */
    text-align: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.Checkout-subtitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Checkout-subtitle p.subtitle {
    font-size: 15px;
    font-weight: 800;
    color: black;
    margin: 15px;
}

.Checkout-total {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
}

.Checkout-total div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 33%;
    /* border-bottom: 1px solid #dfdfdf; */
}

.Checkout-total p.total {
    margin: 0;
    font-size: 14px;
    font-weight: 800;
    padding: 10px 0 10px 10px;
    color: #034f09;
}

.Checkout-total div p.total:nth-child(2) {
    color: #034f09;
    font-weight: 600;
}

.productsCheckout {
    width: 100%;
    height: 56%;
    max-height: 600px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    background-color: #e3fbe3;
    padding: 10px 0 10px 6px;
    border-radius: 10px;
    text-align: center;
}



.cartItem-Checkout {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #b3eec4;
    padding: 5px 0 5px 0;
}

.Checkout-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Checkout-items .Checkout-items-left {
    width: 65%;
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.Checkout-items-left img {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    object-fit: cover;
}

.Checkout-items-left p {
    color: #005b02;
    font-size: 14px;
    font-weight: 500;
}

.Checkout-items-right {
    width: 17%;
    display: flex;
    justify-content: center;
}

.right-container {
    font-weight: 600;
    color: #465b52;
    padding-top: 3px;
}

.right-container p {
    font-weight: 600;
    margin-top: 3px;
    color: #465b52;
}

div:nth-child(2) .envio-p {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 11px;
}

div:nth-child(2) .envio-p p {
    font-size: 14px;
    font-weight: 800;
    /* padding: 10px 0 10px 10px; */
    color: #034f09;
}


div:nth-child(2) .envio-option {
    width: 70%;
    height: 100%;
}

.envio-option .input-1,
.envio-option .input-2 {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.envio-option .input-2 {
    justify-content: flex-end;
    gap: 0;
}

.envio-option .input-1 label,
.envio-option .input-2 label {
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #034f09;
    font-weight: 600;
}

.envio-option .input-2 label span {
    color: #034f09;
    margin-left: 3px;
    font-size: 13px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .Checkout {
        width: 100%;
        margin-top: 110px;
    }

    .Checkout-selection {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .Checkout-selection button {
        width: 80%;
    }

    .Checkout-info {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 0;
    }

    .back-button {
        width: 40px;
        height: 40px;
        top: 101px;
        left: 24px;
        font-size: 45px;
    }

    .Checkout-products {
        width: 80%;
        height: 600px;
        padding: 20px;
        margin-top: 40px;
        display: flex;
        /* justify-content: flex-start; */
        align-items: center;
    }

    .Checkout-list {
        height: 10%;
    }

    .productsCheckout {
        width: 100%;
        min-height: 60%;
        padding: 8px;
    }

    .Checkout-items-right {
        justify-content: flex-end;
    }

    .Checkout-items-right .right-container {
        width: 38px;
    }

    .Checkout-total {
        width: 100%;
        height: 20%;
        gap: 10px;
        margin-top: 20px;
    }

    .Checkout-total div {
        align-items: center;
    }

    div:nth-child(2) .envio-p {
        display: flex;
        align-items: center;
        margin-left: 0;
    }

    div:nth-child(2) .envio-p p {
        font-size: 16px;
        font-weight: 700;
    }

    div:nth-child(2) .envio-option {
        display: flex;
        justify-content: center;
    }

    .envio-option .input-2 {
        gap: 0;
    }

    .Checkout-total p.total {
        padding: 0;
        font-size: 16px;
    }

    .Checkout-total div:nth-child(1) p.total {
        /* font-size: 17px; */
        padding: 0;
        font-weight: 700;
    }

    .envio-option .input-1 label,
    .envio-option .input-2 label {
        display: flex;
    }
}