@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
}

.form-container h2.title-form {
    text-align: center;
    font-size: 25px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    color: gray;
}

input[type="text"],
input[type="email"],
select {
    width: 93%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 14px;
    background-color: rgb(233, 233, 233);
    color: rgb(71, 71, 71);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    transition: 0.7s ease;
}

.submit-button:hover {
    background-color: #28a745;
    color: white;
}