.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5fff5;
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: height 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Header.shrink {
    height: 80px;
}

/* .Header a {
    width: 17%;
    height: 100%;
} */

.LogoContainer {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 35px;
}

.Logo {
    height: 80px;
    width: 90px;
    /* margin-left: 40px; */
}

.PromoContainer {
    flex: 2;
    display: flex;
    justify-content: space-around;
}

.Promo {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.ul-container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 60px;
    gap: 20px;
    position: relative;
}

.navbar li {
    width: 50%;
    list-style: none;
    text-decoration: none;
}

.navbar li.handbag {
    margin-top: 0;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.navbar li.handbag-close {
    position: relative;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.navbar li a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.7s ease;
}

.navbar li a.active:hover {
    color: #088178;
}

.buttonCartContainer {
    width: 70%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}


.cta-button p {
    margin: 0;
    font-weight: 600;
    color: white;
}

.buttonCart {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 40px;
    padding: 10px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 100px;
    cursor: pointer;
}

.productsNumber {
    position: absolute;
    top: -8px;
    right: -7px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Overlay {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.Overlay-visible {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.Header-cart {
    display: block;
}

.Header-cart img.Close-cart {
    position: fixed;
    z-index: 1;
    top: 38px;
    right: 26px;
}

.cart-Close {
    display: none;
    right: -500px;
}

.mobile {
    display: none;
    align-items: center;
}

.navbar .close {
    display: none;
}


.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-button {
    display: flex;
    align-items: center;
    background-color: lightgray;
    /* Color de WhatsApp */
    color: gray;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    gap: 10px;
    transition: 0.4s ease;
}

.cta-button:hover {
    background-color: #07850d;
    /* color: white; */
}


.cta-button img {
    margin: 0;
}

.whatsapp-logo {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

@media (max-width: 600px) {
    .Header {
        width: 100%;
        height: 90px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Header.shrink {
        height: 80px;
    }

    .LogoContainer {
        margin-left: 0;
        justify-content: center;
        width: 32%;
    }

    .Logo {
        height: 72px;
        width: 78px;
    }

    .ul-container {
        width: 60%;
    }

    .navbar {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        gap: 0;
    }

    .navbar li {
        width: 36%;
        display: flex;
        justify-content: center;
    }

    .navbar li a.active {
        font-size: 15px;
        color: #816208;
        font-weight: 600;
    }

    .navbar li.handbag-close {
        margin-top: 0;
    }

    .buttonCartContainer {
        position: relative;
        gap: 15px;
        width: 68%;
    }

    .buttonCart {
        margin-right: 25px;
    }

    .cta-button {
        background-color: #25D366;
        padding: 10px 15px;
    }

    .cta-button p {
        display: none;
    }

    .cta-button img {
        margin: 0;
    }
}

/* Estilos para el botón de llamada a la acción */