.Home {
    max-width: 100%;
}

.Home .hero {
    max-width: 100%;
    height: 90vh;
    /* background-image: url("../icons/hero4.png"); */
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 50px;
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    align-items: center;
    background-attachment: fixed;
    background-image: url("../icons/pexel5.webp");
    /* gap: 30px; */
}

.Hero-images {
    background-image: url("../icons/CaballeroPerfumes1.webp");
    width: 50%;
    height: 80%;
    background-size: cover;
}

.Hero.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h4 {
    padding-bottom: 15px;
}

.hero h1 {
    color: #088178;
}

.hero button {
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
}

/* ----Shirts------ */

.shirts-container {
    width: 95%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}

.shirts-container a {
    text-decoration: none;
}

.shirts-container .pro {
    /* width: 23%; */
    min-width: 250px;
    height: 400px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
}

.shirts-container .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.shirts-container .pro img {
    width: 245px;
    height: 260px;
    border-radius: 20px;
}

.shirts-container .pro .des {
    text-align: start;
    padding: 10px 0;
}

.shirts-container .pro .des span {
    color: #606063;
    font-size: 12px;
}

.shirts-container .pro .des h5 {
    margin: 10px 0 10px 0;
    color: #1a1a1a;
    font-size: 14px;
}

.shirts-container .pro .des .star img {
    width: 13px;
    height: 13px;
}

.shirts-container .pro .des h4 {
    margin-top: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.shirts-container .pro a .shopping {
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 15px;
}

/* -----Shirts----- */

/* --------Banner-------- */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../icons/pexel5.webp");
    background-attachment: fixed;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

.banner h4 {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

.banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}

.banner h2 span {
    color: #088178;
}

.banner button:hover {
    background-color: #088178;
    color: #fff;
}

.banner button {
    font-family: "Didact Gothic", sans-serif;
}

/* --------Banner-------- */

/* -----Other------- */

.sm-banner {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("../icons/pexel1.webp");
    width: 35%;
    height: 400px;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    padding: 30px;
}

.sm-banner .banner-box2 {
    background-image: url("../icons/pexel2.webp");
    width: 50%;
}

.sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

.sm-banner span {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
}


.sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

/* -----Other------- */

/* ------Banner3-------- */

.banner3 {
    display: flex;
    justify-content: space-around;
}

.banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("../icons/pexel3.webp");
    min-width: 27%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

.banner3 .banner-box2 {
    background-image: url("../icons/pexel6.webp");
}

.banner3 .banner-box3 {
    background-image: url("../icons/pexel7.webp");
}

.banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}

.banner3 h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}

/* ------Banner3-------- */

/* ------.footer--------- */

.footer {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 20px;
}

.footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.footer .col:nth-child(2),
.footer .col:nth-child(3) {
    padding-left: 40px;
}

.footer .logo {
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
}

.footer .col h4 {
    font-size: 15px;
    padding-bottom: 20px;

}

.footer p {
    font-size: 14px;
    margin: 0 0 8px 0;
}

.footer a {
    font-size: 14px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

.footer .follow {
    margin-top: 20px;
}

.footer .follow img {
    padding-right: 4px;
    cursor: pointer;
}

.footer .install .row {
    display: flex;
    flex-direction: row;
}

.footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
}

.footer .install .row img:nth-child(2) {
    margin-left: 20px;
}

.footer .install img {
    margin: 10px 0 15px 0;
}

.footer a:hover {
    color: #088178;
}


/* ------.footer--------- */

@media (max-width: 600px) {
    .Home .hero {
        width: 100%;
        height: 500px;
        padding: 0;
    }

    .Hero-images {
        display: none;
    }

    .Hero.info {
        width: 100%;
    }

    .Home .hero h4 {
        padding: 0;
        margin: 0 0 0 30px;
    }

    .Home .hero h2 {
        font-size: 35px;
        margin: 35px;
    }

    .Home .hero h1 {
        font-size: 30px;
        margin: 0 0 30px 30px;
    }

    .Home .hero p {
        font-size: 13px;
        margin: 0 0 0 30px;

    }

    .banner {
        margin: 40px 0 0 0;
    }

    .banner h4 {
        margin: 10px 0 10px 0;
    }

    .banner h2 {
        margin: 0;
        padding: 10px 15px;
    }

    .sm-banner {
        width: 100%;
        margin: 40px 0 0 0;
        padding: 0;
    }

    .sm-banner .banner-box {
        width: 100%;
        height: 400px;
    }

    .sm-banner .banner-box2 {
        display: none;
    }

    .Home .banner3 {
        margin: 40px 0 0 0;
        width: 100%;
        padding: 0;
    }

    .banner3 .banner-box {
        width: 100%;
    }

    .banner3 .banner-box2,
    .banner3 .banner-box3 {
        display: none;
    }

}