.cartItem {
    height: 80px;
    background-color: #effbef;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.cartItem img {
    height: 65px;
    width: 17%;
    border-radius: 5px;
    object-fit: cover;
}

.data-Container {
    display: flex;
    justify-content: space-between;
    width: 83%;
    height: 100%;
    padding: 15px 0;
}

.cartItem-left {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartItem-left p {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #465b52;
}

.cartItem-buttons {
    display: flex;
    gap: 15px;
}

.cartItem-buttons button {
    border: none;
    cursor: pointer;
    font-size: 11px;
    padding: 3px 5px;
    border-radius: 5px;
    font-weight: 600;
    background-color: rgb(227 255 231);
    color: rgb(24, 88, 14);
    transition: 0.5s ease;

}

.cartItem-buttons button:hover {
    background-color: rgb(34, 122, 25);
    color: white;
}

.cartItem-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 38px;
}

.right-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: black;
    font-weight: 400;
}

.right-container p {
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 13px;
}

@media (max-width: 600px) {
    .cartItem-left p {
        font-weight: 500;
        color: 6f4a03;
    }

    .cartItem img {
        height: 75px;
        width: 75px;
    }

    .right-container p {
        font-size: 13px;
    }
}