.shirts-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}



.shirts-container .Pro-Container {
    width: 80%;
    /* min-height: 100vh; */
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shirts-container a {
    text-decoration: none;
}

.shirts-container .pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    width: 240px;
    height: 330px;
    padding: 10px 12px;
    border: 1px solid #c7ffcf;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
    background-color: #ecffec;
}

.shirts-container .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}

.shirts-container .pro img {
    width: 90%;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.shirts-container .pro .des {
    width: 100%;
    text-align: start;
    padding: 10px 0;
}

.shirts-container .pro .des span {
    color: #606063;
    font-size: 12px;
    margin: 0;
}

.shirts-container .pro .des p {
    color: #606063;
    font-size: 12px;
    margin: 0;
}

.shirts-container .pro .des h5 {
    margin: 10px 0 10px 0;
    color: #1a1a1a;
    font-size: 14px;
}

.shirts-container .pro .des .star img {
    width: 13px;
    height: 13px;
}

.shirts-container .pro .des h4 {
    /* margin: 0; */
    font-size: 15px;
    font-weight: 700;
    color: #088178;
    position: absolute;
    bottom: 0px;
    left: 13px;
}


.shirts-container .pro a .shopping {
    width: 30px;
    height: 30px;
    padding: 5px 5px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 10px;
    right: 15px;
    transition: filter 0.4s ease;
}

.a-contain:hover .shopping {
    filter: invert(100%);
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 30%;
    list-style: none;
    padding: 0;
    gap: 10px;
    font-size: 13px;
    font-weight: 600;
}

.pagination li {
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.pagination li:hover {
    background-color: #b7b7b7
}

.pagination li.active {
    background-color: darkorange;
    padding: 5px 10px;
    border-radius: 10px;
}

.page-item {
    margin: 0 5px;
}

.page-link {
    padding: 10px 15px;
    border: 1px solid #ddd;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.page-link:hover {
    background-color: #f1f1f1;
}

.active .page-link {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

@media (max-width: 600px) {

    .shirts-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
    }

    .shirts-container .Pro-Container {
        justify-content: center;
        gap: 15px;
        width: 100%;
    }

    .Banner-arabe,
    .Banner-disenador,
    .Banner-nicho {
        background-position: center;
        background-attachment: local;
    }

    .shirts-container .pro {
        min-width: 0;
        width: 170px;
        height: 275px;
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
        gap: 5px
    }

    .shirts-container .pro img {
        width: 140px;
        height: 140px;
        margin-top: 5px;
    }

    .shirts-container .pro .des {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .shirts-container .pro .des p {
        font-size: 11px;
    }

    .shirts-container .pro .des span {
        margin-left: 2px;
    }

    .shirts-container .pro .des h5 {
        font-size: 13px;
        font-weight: 600;
        margin: 5px 0 4px 0;
    }

    .shirts-container .pro .des h4 {
        margin: 10px 0 0 6px;
        font-size: 16px;
        position: absolute;
        bottom: 6px;
        left: 7px;
    }

    div .star {
        display: none;
    }

    .shirts-container .pro a .shopping {
        width: 24px;
        height: 25px;
        bottom: 6px;
        right: 10px;
    }

    .pagination {
        width: 100%;
        margin-bottom: 0;
    }
}








/* .shirts-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.Banner-arabe,
.Banner-disenador,
.Banner-nicho {
    width: 100%;
    height: 270px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.Banner-arabe {
    background-image: url("../icons/bannerProductos.webp");
}

.Banner-disenador {
    background-image: url("../icons/bannerDiseñador.webp");
}

.Banner-nicho {
    background-image: url("../icons/bannerNicho.webp");
}

.shirts-container .Pro-Container {
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shirts-container a {
    text-decoration: none;
}

.shirts-container .pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
    width: 180px;
    height: 300px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.3s ease;
    position: relative;
    background-color: #f5f5f5;
}

.shirts-container .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}

.shirts-container .pro img {
    width: 90%;
    height: 174px;
    border-radius: 20px;
}

.shirts-container .pro .des {
    width: 100%;
    text-align: start;
    padding: 10px 0;
}

.shirts-container .pro .des span {
    color: #606063;
    font-size: 12px;
}

.shirts-container .pro .des h5 {
    margin: 10px 0 10px 0;
    color: #1a1a1a;
    font-size: 14px;
}

.shirts-container .pro .des .star img {
    width: 13px;
    height: 13px;
}

.shirts-container .pro .des h4 {
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

.shirts-container .pro a .shopping {
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 15px;
}

@media (max-width: 600px) {

    .shirts-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
    }

    .shirts-container .Pro-Container {
        justify-content: center;
        gap: 15px;
        width: 100%;
    }

    .Banner-arabe,
    .Banner-disenador,
    .Banner-nicho {
        background-position: center;
        background-attachment: local;
    }

    .shirts-container .pro {
        min-width: 0;
        width: 162px;
        height: 220px;
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .shirts-container .pro img {
        width: 140px;
        height: 140px;
        margin-top: 5px;
    }

    .shirts-container .pro .des {
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .shirts-container .pro .des span {
        margin-left: 2px;
    }

    .shirts-container .pro .des h5 {
        font-size: 13px;
        font-weight: 600;
        margin: 2px 0 2px 0;
    }

    .shirts-container .pro .des h4 {
        margin: 0 0 0 2px;
        font-size: 13px;
    }

    div .star {
        display: none;
    }

    .shirts-container .pro a .shopping {
        width: 20px;
        height: 20px;
        bottom: 5px;
        right: 10px;
    }
} */