.See-more {}

button.See-more-button {
    font-size: 15px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: #e8e8e8;
    border-radius: 4px;
    margin: 20px 0 30px 0;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.See-more-button:hover {
    background-color: #088178;
}

button.See-more-button a {
    color: black;
    font-family: "Didact Gothic", sans-serif;
}

button.See-more-button a:hover {
    color: white;
}